{% extends "pages/common/modal.twig" %}

{% block modal_body %}
  <form hx-post="{{ action }}"
        hx-swap="none"
        hx-headers='{"HX-Trigger": "refresh-page"}'
        class="needs-validation"
        data-modal-form
        data-reset
        novalidate>
    <div class="from-group mb-3">
      <label for="identifier">ID</label>
      <input id="identifier" name="identifier" value="{{ scope.identifier }}" type="text" class="form-control" required
             placeholder="授权范围ID"
             autocomplete="off" pattern="^[a-z][a-z\d_]{1,19}$">
      <div class="invalid-feedback">ID只能由小写字母开头的小写字母、数字与_组成，20字符以内</div>
    </div>
    <div class="from-group mb-3">
      <label for="name">名称</label>
      <input id="name" name="name" type="text" value="{{ scope.name }}" class="form-control" required
             placeholder="名称" autocomplete="off" pattern="[\w\u4e00-\u9fa5]{2,10}$">
      <div class="invalid-feedback">名称2-10个字符</div>
    </div>
    <div class="from-group mb-3">
      <label for="description">授权范围描述</label>
      <textarea id="description" name="description" class="form-control" placeholder="描述"
                autocomplete="off">{{ scope.description }}</textarea>
    </div>
    <div class="from-group mb-3">
      <label for="scopes">授权范围</label>
      <select class="form-select" id="scopes" name="scopes[]" multiple>
        {% for s in scopes %}
          <option value="{{ s }}"
              {{ s in scope.scopes ? 'selected' : '' }}>{{ s }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="d-grid gap-2 mt-3 col-6 mx-auto">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </form>
{% endblock %}