{% extends "pages/common/modal.twig" %}

{% block modal_body %}
  <form hx-post="{{ action }}"
        hx-swap="none"
        class="needs-validation"
        data-modal-form
        data-reset
        data-reload-datatable="admin-table"
        novalidate>
    <div class="row g-3 pb-2 align-items-center">
      <div class="col-auto">
        <label for="account" class="col-form-label">登录帐号</label>
      </div>
      <div class="col-auto">
        <input type="text" id="account" name="account" value="{{ admin.account }}" class="form-control" required
               style="width: 204px">
      </div>
      <div class="col-auto">
        <span class="form-text">账号必须以字母或中文开头，长度2-10位</span>
      </div>
    </div>
    <div class="row g-3 pb-2 align-items-center">
      <div class="col-auto">
        <label for="pwd" class="col-form-label">帐号密码</label>
      </div>
      <div class="col-auto">
        <div class="input-group">
          <input id="pwd" name="password" type="password" class="form-control" data-bs-toggle="tooltip"
                 data-bs-title="添加账号时密码不能为空" placeholder="帐号登录密码" autocomplete="off"
                 pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,16}$"
                 style="width: 158px">
          <label id="randomPwd" class="input-group-text" role="button" data-bs-toggle="tooltip"
                 data-bs-title="随机生成密码"><i class="fa-solid fa-key"></i></label>
        </div>
      </div>
      <div class="col">
        <span
            class="form-text">密码必须包含至少一个大写字母，一个小写字母，一个数字和一个特殊字符!@#$%^&*，长度8-16位</span>
      </div>
    </div>
    <div class="row g-3 pb-2 align-items-center">
      <div class="col-auto">
        <label for="role_id" class="col-form-label" style="width: 64px;">角色</label>
      </div>
      <div class="col-auto">
        <select id="role_id" name="roleId" class="form-select" style="width: 204px">
          {% for id, name in roles %}
            <option value="{{ id }}"{{ (admin.role_id == id) ? ' selected':'' }}>{{ name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <span class="form-text">选择管理员角色</span>
      </div>
    </div>
    <div class="row g-3 pb-2 align-items-center">
      <div class="col-auto">
        <label for="group_id" class="col-form-label" style="width: 64px;">分组</label>
      </div>
      <div class="col-auto">
        <select id="group_id" name="groupId" class="form-select" style="width: 204px">
          {% for id, name in group %}
            <option value="{{ id }}"{{ (admin.groupId == id) ? ' selected':'' }}>{{ name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <span class="form-text">选择管理员分组</span>
      </div>
    </div>
    <div class="row g-3 pb-2 align-items-center">
      <div class="col-auto">
        <label for="uid" class="col-form-label">绑定微信</label>
      </div>
      <div class="col-auto">
        <select id="uid" class="form-select" data-action="{{ url_for('app.searchUser') }}"
                style="width: 204px">
          {% if admin.openid %}
            <option>{{ admin.name }}({{ admin.tel }})</option>
          {% endif %}
        </select>
        <input type="hidden" name="openid" value="{{ admin.openid }}">
      </div>
      <div class="col-auto">
        <span class="form-text">选择绑定微信</span>
      </div>
    </div>
    <div class="row g-3 pb-2 align-items-center">
      <div class="col-auto">
        <label for="name" class="col-form-label" style="width: 64px;">姓名</label>
      </div>
      <div class="col-auto">
        <input id="name" name="name" value="{{ admin.name }}" class="form-control" type="text" required
               pattern="[\u4e00-\u9fa5]{2,8}$"
               style="width: 204px">
      </div>
      <div class="col-auto">
        <span class="form-text">姓名只能是中文名，最少两个字</span>
      </div>
    </div>
    <div class="row g-3 pb-2 align-items-center">
      <div class="col-auto">
        <label for="tel" class="col-form-label" style="width: 64px;">手机号</label>
      </div>
      <div class="col-auto">
        <input id="tel" name="tel" value="{{ admin.tel }}" class="form-control" type="tel" required style="width: 204px"
               pattern="^(13[0-9]|14[579]|15[0-35-9]|16[6]|17[0-9]|18[0-9]|19[12589])\d{8}$">
      </div>
      <div class="col-auto">
        <span class="form-text">手机号格式不正确</span>
      </div>
    </div>
    <div class="row g-3 pb-2 align-items-center">
      <div class="col-auto">
        <label for="status" class="col-form-label" style="width: 64px;">状态</label>
      </div>
      <div class="col-auto">
        <select id="status" name="status" class="form-select" style="width: 204px">
          <option value="0">禁用</option>
          <option value="1"{{ admin.status ? ' selected' : '' }}>启用</option>
        </select>
      </div>
      <div class="col-auto">
        <span class="form-text">账号状态</span>
      </div>
    </div>

    <div class="d-grid gap-2 mt-3 col-6 mx-auto">
      <button type="submit" class="btn btn-primary">提交</button>
    </div>
  </form>
{% endblock %}